<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="service" class="com.epam.suleimenov.service.IService">
    <property name="newsDAO">
        <bean id="dao" class="com.epam.suleimenov.database.INewsDAO"/>
    </property>
    </bean>


    <bean name="/news" class="com.epam.suleimenov.presentation.action.NewsAction">
        <property name="service"><ref bean="service"/>
        </property>
    </bean>

    <bean name="/add" class="com.epam.suleimenov.presentation.action.NewsAction">
        <property name="service"><ref bean="service"/>
        </property>
    </bean>

    <bean name="/edit" class="com.epam.suleimenov.presentation.action.NewsAction">
        <property name="service"><ref bean="service"/>
        </property>
    </bean>


</beans>